* {
    font-family: 'InterstateRegular', sans-serif;
}

.navBar {
    min-height: 80px;
    min-width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    color: black;
}

.listRight {
    display: flex;
    gap: 10px;
    font-weight: 600;
}

.listLeft {
    display: flex;
    align-items: center;
}

li {
    padding: 5px;
    border: none;
    background: none;
}

button {
    background: none;
    border: none; 
    color: inherit;
    font: inherit; 
    padding: 0; 
    margin: 0;
    cursor: pointer; 
    
}

.navIcon {
    max-height: 30px;
    align-content: center;
}

#tacoBellLogo {
    min-height: 65px;
    padding-left: 20px;
}

.navBar button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 10px; 
}


#startYourOrder {
    background-color:#501098;
    padding: 14px;
    color: white;
    font-weight:bold ;
}


@font-face {
    font-family: 'InterstateRegular';
    src: url('assets/fonts/InterstateRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


#orderingPickupContainer {
    display: flex;
    align-items: center;
    gap: 11px;
}

#orderingPickup {
    color: #585858;
    line-height: 1;
    text-align: right;
    text-transform: none;
    font-size: 12px;
}

#searchIcon {
    position: relative;
    top: 2px;
}

#bagIcon{
    position: relative;
    top: 1px;
}

.firstGif {
    position: relative;
    text-align: center;
  }

#earnPoints {
    height:500px;
    width:100%;
}

#earn{
    position: absolute;
    top: 145px;
    left: 300px;
    font-size:30px;
    font-weight: bold;
    color: white;
}

#firstGifText{
    position: absolute;
    top: 245px;
    left: 300px;
    text-align: left;
    font-size: 15px;
    color: white;
    font-weight: bold;
}

#joinRewardsBtn{
    position: absolute;
    bottom: 140px;
    left: 300px;
    text-align: left;
    padding-left:40px;
    padding-right:40px;
    padding-top:25px;
    padding-bottom:25px;
    font-weight: bold;
    background-color:#ffffff;
    border-color:#ffffff;
    color:#501098
}